/*Full page styling*/
body {
  Background-color: #142d4c;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color: #9fd3c7;
  margin-top: 0;
}

h2 {
  color: #9fd3c7;;
  margin-top: 0;
}

h3 {
  color: #9fd3c7;
  margin-top: 0;
}

p {
  color: #ececec;
}

a {
  color: #385170;
}

/*class styling*/
.top-container {
  padding-top: 28px;
  padding-bottom: 32px;
}
.top-cloud {
  margin-left: 400px;
}

.bottom-cloud {
  margin-right: 500px;
  position:absolute;
}
