/*Full page styling*/
body {
  Background-color: #DEF5E5;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color: #269e73;
  margin-top: 0;
}

p {
  color: #269e73;
}

/*class styling*/
.top-container {
  padding-top: 28px;
  padding-bottom: 32px;
}
.top-cloud {
  margin-left: 400px;
}

.bottom-cloud {
  margin-right: 500px;

}