body {
    Background-color: #ffffff;
  }
td {
    color: #272343;
  }
h3{
    color: #272343;
  }
li{
    color: #272343;
  }
hr {
    border-color: #272343;
    border-style: solid;
  }
a {
    color: #272343;
  }